* {
    font-family: "Chakra Petch", serif;
}
#content {
    min-height: 100vh;
    align-items: center;
    display: flex;
}
#side-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 16px;
}
.slidecontainer {
    width: 100%;
    opacity: .8;
}
.slider {
    width: 100%;
}
#title {
    font-size: 28px;
    font-weight: 500;
}
#tile-container {
    display:flex;
    flex-direction: column;
    flex-grow: 1;
    aspect-ratio: 1;
    max-width: 70vmin;
    max-height: 70vmin;
    background-color: rgba(99, 94, 94, 0.243);
}
.tile-row {
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
}
.tile {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    box-sizing: border-box;
    border: .5px solid black;
}